@mixin dot-box ($borderColor, $backGroundColor: #ffffff) {
    border: 0.063rem dashed $borderColor;
    padding: 0.625rem;
    background-color: $backGroundColor;
    border-radius: 8px !important;
}

@mixin ellipsis-text ($containerWidth) {
    width: $containerWidth;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}