<mat-list>
  <mat-list-item class="card-option">
    <div class="text-container">

      <span class="text-container__title">{{ card!.title }}</span>
      <span class="text-container__subtitle">{{ card!.subtitle }}</span>

      @if (isBtnAction) {
        <button (click)="onDelete()" mat-mini-fab aria-label="">
          <app-icon [icon]="'delete'"></app-icon>
        </button>
        <button (click)="onEdit()" mat-mini-fab aria-label="">
          <app-icon [icon]="'edit_square'"></app-icon>
        </button>
      }

    </div>
  </mat-list-item>
</mat-list>
