@import "../../../styles.scss";

.container {
  @include dot-box(#e1d0d0, $primary);
  span {
    font-size: 3em;
    color: $secondary;
    line-height: 5.25rem;
    font-weight: 600;
  }

  &__content {
    @include dot-box($secondary, $primary);
  }
}
