<section class="container">
  <header class="container__header">
    <app-main-title [text]="'Your Knowledge Base'" />
    <app-search></app-search>
  </header>

  <main class="container__content">
    @for (card of cards; track card ; let idx = $index) {
    <app-card
      (delete)="deleteItem(idx)"
      (edit)="editItem(idx)"
      [card]="card"
    ></app-card>
    }
  </main>

  <footer class="container__footer">
    <app-btn-data [text]="'CHAT WITH YOUR DATA'" [logoImg]="'chat.png'" />
    <app-btn-data [text]="'LOAD NEW  DATA'" [logoImg]="'upload.svg'" />
  </footer>
</section>
